<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# What to expect in this chapter

Building on earlier concepts and adding details.\
Introduction to different data types.\
Combine variables with English.

# 1 There is more to if

Might have situations needing more branches to `if`.\
Can use `elif`, or 'else if'.

In [6]:
name = 'Batman'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Batman!

*Pushing this, can you have multiple elif?*

In [7]:
name = 'Potato'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
elif name == 'Alfred':
    print('Hello Butler!')
elif name == 'Nightwing':
    print('Hello Kid')
else:
    print('Hello World!')

Hello World!

*Can have multiple `elif`, but foresee this being super tedious.\
Have to key in if/ elif for each variable to check.*

# 2 Asking questions

If want to use `if` to make decision, need to know how to ask questions.\
Example with 2 lists:

In [8]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

E.g. 1: Is 'apple' in the list `fruits`?

In [9]:
'apple' in fruits

True

E.g. 2: Is 'peach' in the list `fruits`?

In [10]:
'peach' in fruits

False

E.g. 3: Is 'peach' not in the list `fruits`?

In [11]:
'peach' not in fruits

True

E.g. 4: Is 'apple' in the list `fruits` **and** is 'celery' in the list `vegetables`?

In [12]:
('apple' in fruits) and ('celery' in vegetables)

True

E.g. 5: Is 'apple' in the list `fruits` **or** is 'celery' in the list `vegetables`?

In [13]:
('apple' in fruits) or ('celery' in vegetables)

True

E.g. 6: Is 'app' in 'apple'?

In [14]:
'app' in 'apple'

True

Useful Python keywords in asking questions: `not`, `in`, `and`, `or`.\
Basic Python can only compare similar things (types):
- Numbers.
- English.

Exception is between English, which works as English letters are internally represented as numbers in Python.

In [15]:
3 > 10.5     # Works, comparing numbers.

False

In [16]:
3 > 'apple'  # Does not work, compares numbers to English.

TypeError: '>' not supported between instances of 'int' and 'str'

In [17]:
'apples' > 'oranges'

False

## 2.1 Asking Math questions

Useful symbols for asking mathematical questions:

|Question/ Condition|Math Symbol|Python Symbols|
|:-|:-:|:-:|
|Equals?|$=$|`==`|
|Not equal?|$\ne$|`!=`|
|Less than?|$\lt$|`<`|
|Greater than?|$\gt$|`>`|
|Greater than or equal?|$\leq$|`<=`|
|Greater than or equal?|$\geq$|`>=`|

Accepts all following syntax when asking the same question.\
All 3 lines mean the same thing in Python.\
May not be the case in other languages.

Example: Is x greater than 5 but lesser than 15? Set x=10.

In [18]:
x=10
x > 5 and x < 15

True

In [19]:
x=10
(x > 5) and (x < 15)

True

In [20]:
x=10
5 < x < 15

True

Note the differences in format in answering the same question.\
Brackets increase the readability of the statement.

# 3 Python stores information in different formats or types

4 different ways to store numbers using the number 1.234.\
`type()` asks Python how the info in stored.

E.g. 1: As an integer `int()`.\
Note: this drops the decimal portion of the number.

In [21]:
x=int(1.234)
print(x,type(x))

1 <class 'int'>

E.g. 2: As an English word `str()`.\
Note: 'str' is short for string.

In [22]:
x=str(1.234)
print(x,type(x))

1.234 <class 'str'>

E.g. 3: As a decimal number `float()`.

In [23]:
x=float(1.234)
print(x,type(x))

1.234 <class 'float'>

E.g. 4: As a complex number `complex()`.

In [24]:
x=complex(1.234)
print(x,type(x))

(1.234+0j) <class 'complex'>

Many other types of data available.\
Typecasting: converting value of single data type to another data type.

In [25]:
x='1.234'
print(x,type(x))

x=float(x)        # Line converts 'str' to 'float'.
print(x,type(x))

1.234 <class 'str'>
1.234 <class 'float'>

# 4 Never compare floats directly

## 4.1 The Problem

Floating point numbers cannot be exactly stored in computer, limited by hardware and IEEE 754 standards.\
Leads to roundoff errors.\
Note: as long as it is a **decimal number**, this error will always happen.

E.g.: Compare 0.1 $\times$ 3 and 0.3. What exactly is '0.3' to 17 d.p.?

In [26]:
a=0.1
a3=0.3
a*3==a3

False

In [27]:
f'{0.3:.17f}'

'0.29999999999999999'

This shows that floating point numbers have roundoff errors.

## 4.2 A solution

To resolve roundoff errors, check if variable is **close** to expected value instead of equality.

In [28]:
eps=1E-10
abs(a*3-a3)<eps

True

In [31]:
import numpy as np
np.isclose(a*3,a3)

True

# 5 Combining English and variables

Combining strings (i.e. English) with variables.\
Very valuable coding skill.

Examples of combining text and variables:

E.g. 1:

In [37]:
name="Batman"
print(f"Hello {name}!")

Hello Batman!

E.g. 2:

In [38]:
name="Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

E.g. 3:

In [39]:
x=10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

In [41]:
x=10
print("The value of {x} squared is {x**2}!")

The value of {x} squared is {x**2}!

Notice if f-string is not indicated, everything between " " is printed as text/ string.\
F-string (i.e. string interpolation) allows variables to be inserted/ interpolated into a line.
- `f` is used to denote f-string.
- `{}` is used to denote variables that are inserted in the f-string.

More examples with f-strings:

E.g. 1: Using f-strings to format text (strings).

In [66]:
text='Bruce Wayne is Batman.'
print(f'{text}')
print(f'{text:>30}')
print(f'{text:^30}')
print(f'{text:<30}')

Bruce Wayne is Batman.
        Bruce Wayne is Batman.
    Bruce Wayne is Batman.
Bruce Wayne is Batman.

Number stated is used to denote the number of characters in a block.\
It will take alignment according to the **number of characters** specified and the **type of alignment** mentioned.

Alignment formats:
- Align left: `<`.
- Align centre: `^`.
- Align right: `>`.

E.g. 2: Using f-strings to format numbers.

In [69]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

The cube of pi to 6 decimal places is 31.006277

`f` in `.6f` used to tell f-string to output number in **decimal** notation.

In [70]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')

The cube of pi to 6 decimal places is 3.100628e+01

`e` in `.6e` used to tell f-string to output number in **scientific** notation.

## 5.1 Structure of f-strings

Format: `{X:>0Y.ZW}`.

|Letter|Action|Possible Options|
|:-|:-|:-|
|`X`|Variable to format|Can be number or string.|
|`>`|Alignment|`<` (Left justified)<br>`^` (Centre justified)<br>`>` (Right justified)|
|`0`|Use 0's to pad spaces|Can use other characters like space ` `.|
|`Y`|Total number of characters||
|`Z`|Number of decimal places||
|`W`|Specifies type of variable|`f` (float)<br>`d` (integer)<br>`s` (string)<br>`g` (Asks Python to figure out)|

# 6 Escape sequences

# 8 Computers read = from Right to Left!

# 9 Shorter and Cleaner Code

# 10 Python can be a prima-donna.

# 11 Best Practices for Scientific Computing

# 12 Looking for help

## References

## Footnotes